*,p{
    font-size: 2em;
}
html,body{
    height: 100%;
}
body{
    align-items: start;
    justify-content: center;
    gap: 2em;
    padding-top: 5em;
    flex-wrap: wrap;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
table,tr,td{
    border: 1px solid black;
    padding: 2em;
    width: 1em;
    
}
td{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    
}
input{
    border: 5px solid black;
}
button{
    aspect-ratio: 1/1;
    text-align: center;
    background-color: rgba(85, 85, 85, 0.296);
    width: fit-content;
    height: fit-content;
}
.resposta{
    margin: 2em;
}